[submodule ".tmux"]
	path = .tmux
	url = https://github.com/dagnachewa/.tmux
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/dagnachewa/spacemacs
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/dagnachewa/spacemacs
[submodule "2bwm"]
	path = 2bwm
	url = https://github.com/dagnachewa/2bwm
[submodule "dwm"]
	path = dwm
	url = https://github.com/dagnachewa/deadpixi-dwm
