[submodule ".tmux"]
	path = .tmux
	url = https://github.com/dagnachewa/.tmux
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/dagnachewa/spacemacs
[submodule ".SpaceVim.d"]
	path = .SpaceVim.d
	url = https://github.com/dagnachewa/SpaceVim
[submodule "/home/dagnachew/.zprezto"]
	path = /home/dagnachew/.zprezto
	url = https://github.com/dagnachewa/prezto
[submodule ".zim"]
	path = .zim
	url = https://github.com/dagnachewa/zimfw
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/dagnachewa/spacemacs
	branch = develop
[submodule "2bwm"]
	path = 2bwm
	url = https://github.com/dagnachewa/2bwm
[submodule "/home/dagnachew/.emacs.d"]
	path = /home/dagnachew/.emacs.d
	url = https://github.com/dagnachewa/spacemacs
	branch = develop
